<div class="post-author text-center">                       
	        <img src="{{site.url}}/images/avatar-{{ page.author | downcase | replace: ' ','-' }}.png" alt="{{ page.author }}'s photo" itemprop="image" class="post-avatar img-circle img-responsive"/>
	    <h4 class="bordered-bottom vcard author" itemprop="author" itemscope itemtype="http://schema.org/Person">By <span itemprop="name" class="fn"><a href="{{ site.url }}/{{ page.author | downcase | replace: ' ','-' }}.html" title="About {{ page.author }}" itemprop="url">{{ page.author }}</a></span></h4>
	    <p>{{ site.owner.description }}</p>
</div>